<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="uk.co.coldasice.projects.android.arkadroid"
      android:versionCode="1" android:versionName="1.0alpha">
    <application android:icon="@drawable/icon" android:label="@string/app_name" android:description="@string/app_desc" android:debuggable="false">


    <activity android:name="uk.co.coldasice.projects.android.arkadroid.ArkaDroid" android:label="@string/app_name" android:clearTaskOnLaunch="true" android:screenOrientation="portrait"><intent-filter><action android:name="android.intent.action.MAIN"></action>
<category android:name="android.intent.category.LAUNCHER"></category>
</intent-filter>
</activity>
</application>
    <uses-sdk android:minSdkVersion="3" />

</manifest> 